@using RazorEmailLibs.Views.Emails.ConfirmAccount
@using RazorEmailLibs.Views.Shared

@model ConfirmAccountEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
}

<html>
    <p>test tesmplate nha google please</p>
</html>
